.mac-book-air-1,
.mac-book-air-1 * {
  box-sizing: border-box;
}
.mac-book-air-1 {
  background: #ebd3f8;
  height: 5338px;
  position: relative;
  overflow: hidden;
}
.group-72 {
  position: absolute;
  inset: 0;
}
.group-107 {
  width: 1280px;
  height: 5400px;
  position: static;
}
.mac-book-air-12 {
  background: #ebd3f8;
  width: 1280px;
  height: 5400px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.group-15 {
  position: absolute;
  inset: 0;
}
.group-14 {
  width: 195.35px;
  height: 71px;
  position: static;
}
.group-13 {
  width: 195.35px;
  height: 71px;
  position: static;
}
.frame-1 {
  background: #602080;
  border-radius: 10px;
  border-style: solid;
  border-color: #b4a5a5;
  border-width: 1px;
  width: 153.15px;
  height: 48.27px;
  position: absolute;
  left: 1069.43px;
  top: 21.55px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0.018deg) scale(1, 1);
  overflow: hidden;
}
.try-it-free {
  color: #ebd3f8;
  text-align: center;
  font-family: "Rosarivo-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 1047px;
  top: 11px;
  width: 195.35px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px transparent;
}
.group-16 {
  position: absolute;
  inset: 0;
}
.menu {
  color: #202040;
  text-align: center;
  font-family: "Rosarivo-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 513px;
  top: 23px;
  width: 131.4px;
  height: 41.15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bots {
  color: #202040;
  text-align: center;
  font-family: "Rosarivo-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 679px;
  top: 24px;
  width: 160px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: #202040;
  text-align: center;
  font-family: "Rosarivo-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 293px;
  top: 11px;
  width: 220px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-71 {
  position: absolute;
  inset: 0;
}
.temukan-cara-baru-untuk-belajar-dengan-pendekatan-yang-interaktif-dan-inkulsif {
  color: #202040;
  text-align: center;
  font-family: "LibreCaslonText-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 77px;
  top: 902px;
  width: 1128px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-23 {
  position: absolute;
  inset: 0;
}
.group-22 {
  width: 1689.2px;
  height: 269.2px;
  position: static;
}
.rectangle-4 {
  background: #3c415c;
  width: 1614.47px;
  height: 53.09px;
  position: absolute;
  left: -262.88px;
  top: 1736px;
  transform-origin: 0 0;
  transform: rotate(7.71deg) scale(1, 1);
}
.group-21 {
  width: 1320.33px;
  height: 218.61px;
  position: static;
}
.edutech-edutech-edutech-edutech-edutech-edutech {
  color: #ebd3f8;
  text-align: center;
  font-family: "Rowdies-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: -22.12px;
  top: 1776.2px;
  width: 1325.67px;
  height: 45.99px;
  transform-origin: 0 0;
  transform: rotate(7.499deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-5 {
  background: #602080;
  width: 1572.34px;
  height: 71.07px;
  position: absolute;
  left: -154.59px;
  top: 1881.55px;
  transform-origin: 0 0;
  transform: rotate(-3.389deg) scale(1, 1);
}
.edutech-edutech-edutech-edutech-edutech-edutech2 {
  color: #ebd3f8;
  text-align: center;
  font-family: "Rowdies-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: -65.55px;
  top: 1868.01px;
  width: 1404.8px;
  height: 78.91px;
  transform-origin: 0 0;
  transform: rotate(-3.241deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-20 {
  position: absolute;
  inset: 0;
}
.group-19 {
  width: 270.61px;
  height: 135.3px;
  position: static;
}
.ellipse-1 {
  background: #202040;
  border-radius: 50%;
  width: 270.61px;
  height: 135.3px;
  position: absolute;
  left: 5.82px;
  top: 1216.3px;
  transform-origin: 0 0;
  transform: rotate(-19.021deg) scale(1, 1);
}
.who-we-are {
  color: #ffffff;
  text-align: center;
  font-family: "Rowdies-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 66.97px;
  top: 1218.9px;
  width: 156.67px;
  height: 91.56px;
  transform-origin: 0 0;
  transform: rotate(-19.021deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
._7-d-5-d-21-a-45-af-116-b-49-df-6-d-5-aee-1-d-86-cd-4-removebg-preview-1 {
  width: 196.34px;
  height: 294px;
  position: absolute;
  left: 210.5px;
  top: 964.92px;
  transform-origin: 0 0;
  transform: rotate(39.062deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 196.34/294;
}
.rectangle-42 {
  background: #fdf1f8;
  width: 1756.34px;
  height: 63.95px;
  position: absolute;
  left: -272px;
  top: 2825px;
  transform-origin: 0 0;
  transform: rotate(-1.505deg) scale(1, 1);
}
.rectangle-52 {
  width: 1285.87px;
  height: 149.17px;
  position: absolute;
  left: -5.96px;
  top: 2777.46px;
  transform: translate(5.96px, 0px);
  overflow: visible;
}
.s-2-tech-menghadirkan-sarana-pembelajaran-dengan-robot-edukasi-berbasis-ai-buka-dunia-baru-pembelajaran-interaktif-dengan-robot-pintar-yang-siap-menemani-siswa-dalam-setiap-petualangan-ilmiah {
  text-align: center;
  font-family: "LibreCaslonText-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 72px;
  top: 1349px;
  width: 736px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-2-tech-menghadirkan-sarana-pembelajaran-dengan-robot-edukasi-berbasis-ai-buka-dunia-baru-pembelajaran-interaktif-dengan-robot-pintar-yang-siap-menemani-siswa-dalam-setiap-petualangan-ilmiah-span {
  color: #000000;
}
.s-2-tech-menghadirkan-sarana-pembelajaran-dengan-robot-edukasi-berbasis-ai-buka-dunia-baru-pembelajaran-interaktif-dengan-robot-pintar-yang-siap-menemani-siswa-dalam-setiap-petualangan-ilmiah-span2 {
  color: #202040;
}
.perpaduan-sempurna-antara-kecerdasan-buatan-dan-interaksi-fisik-untuk-pengalaman-belajar-multisensorik-yang-menyenangkan-personal-dan-berdaya-guna {
  text-align: center;
  font-family: "LibreCaslonText-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 609px;
  top: 2175px;
  width: 622px;
  height: 371px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perpaduan-sempurna-antara-kecerdasan-buatan-dan-interaksi-fisik-untuk-pengalaman-belajar-multisensorik-yang-menyenangkan-personal-dan-berdaya-guna-span {
  color: #000000;
}
.perpaduan-sempurna-antara-kecerdasan-buatan-dan-interaksi-fisik-untuk-pengalaman-belajar-multisensorik-yang-menyenangkan-personal-dan-berdaya-guna-span2 {
  color: #202040;
}
.mengapa-menggunakan-robot-edukasi {
  color: #ebd3f8;
  text-align: center;
  font-family: "WendyOne-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 257px;
  top: 2673px;
  width: 766px;
  height: 371px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interaktivitas-tinggi {
  color: #202040;
  text-align: center;
  font-family: "WendyOne-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 3465px;
  width: 439px;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keterampilan-abad-21 {
  color: #202040;
  text-align: center;
  font-family: "WendyOne-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 816px;
  top: 3704px;
  width: 487px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._7574-b-824-d-459-45-be-9-f-79-292288-aa-1-a-49-removebg-preview-1 {
  width: 510px;
  height: 566px;
  position: absolute;
  left: 782px;
  top: 1167px;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 510/566;
}
.logo-removebg-preview-2 {
  width: 286px;
  height: 59px;
  position: absolute;
  left: 147px;
  top: 2779px;
  object-fit: cover;
  aspect-ratio: 286/59;
}
.group-30 {
  position: absolute;
  inset: 0;
}
.group-29 {
  width: 164px;
  height: 97.43px;
  position: static;
}
.s-2-tech {
  color: #7c3ba4;
  text-align: center;
  font-family: "SeymourOne-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 2px;
  top: 83.23px;
  width: 164px;
  height: 25.2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ggg-removebg-preview-2 {
  width: 72.39px;
  height: 73.23px;
  position: absolute;
  left: 48.45px;
  top: 11px;
  object-fit: cover;
  aspect-ratio: 72.39/73.23;
}
._098-e-2-c-35389472069-caf-35-ba-89-f-2-f-1-c-4-1 {
  border-radius: 109px;
  width: 468.42px;
  height: 246px;
  position: absolute;
  left: -6px;
  top: 3032px;
  aspect-ratio: 468.42/246;
}
.group-33 {
  height: auto;
  position: absolute;
  left: 1303.36px;
  top: 3299.14px;
  transform: translate(-755.39px, -1.14px);
  overflow: visible;
}
.meningkatkan-motivasi-belajar-lewat-sentuhan-teknologi {
  color: #ebd3f8;
  text-align: right;
  font-family: "LibreCaslonText-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 745px;
  top: 3346px;
  width: 511px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.group-39 {
  position: absolute;
  inset: 0;
}
.group-35 {
  width: 286.44px;
  height: 840.65px;
  position: absolute;
  left: -66px;
  top: 3526.56px;
  overflow: visible;
}
.robot-dapat-disesuaikan-dengan-gaya-dan-kecepatan-masing-masing-siswa {
  color: #ffffff;
  text-align: left;
  font-family: "LibreCaslonText-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 21px;
  top: 3565px;
  width: 514px;
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-41 {
  position: absolute;
  inset: 0;
}
.group-40 {
  width: 743.12px;
  height: 252px;
  position: static;
}
.group-44 {
  width: 743.12px;
  height: 252px;
  position: static;
}
.group-43 {
  width: 743.12px;
  height: 252px;
  position: static;
}
.group-42 {
  width: 743.12px;
  height: 252px;
  position: static;
}
.group-36 {
  width: 250.81px;
  height: 742.77px;
  position: static;
}
.group-162 {
  width: 250.81px;
  height: 742.77px;
  position: absolute;
  left: 1326.12px;
  top: 3772.19px;
  overflow: visible;
}
.memupuk-kemampuan-coding-kolaborasi-dan-pemecahan-masalah {
  color: #ebd3f8;
  text-align: right;
  font-family: "LibreCaslonText-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 754px;
  top: 3828.6px;
  width: 499px;
  height: 140.8px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.ai-powered-models-1 {
  width: 137px;
  height: 137px;
  position: absolute;
  left: 48px;
  top: 3011px;
  object-fit: cover;
  aspect-ratio: 1;
}
.robotics-1 {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 1006px;
  top: 2994px;
  object-fit: cover;
  aspect-ratio: 1;
}
.call-center-agent-1 {
  width: 69px;
  height: 69px;
  position: absolute;
  left: 916px;
  top: 4220px;
  object-fit: cover;
  aspect-ratio: 1;
}
.frame-4 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 822px;
  top: 896px;
  overflow: hidden;
}
.ai-technology-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1009px;
  top: 20px;
  object-fit: cover;
  aspect-ratio: 1;
}
.top-educational-robots {
  color: #202040;
  text-align: left;
  font-family: "WendyOne-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 36px;
  top: 4221px;
  width: 1021px;
  height: 76px;
}
.group-62 {
  position: absolute;
  inset: 0;
}
.group-61 {
  width: 622.16px;
  height: 622.16px;
  position: static;
}
.settings-49-2 {
  width: 609.84px;
  height: 609.84px;
  position: absolute;
  left: 24.46px;
  top: 2013.49px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(1.17deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.sbr-pepper-hero-full-robot-1 {
  width: 202px;
  height: 466px;
  position: absolute;
  left: 1006px;
  top: 4382px;
  aspect-ratio: 202/466;
}
.network-80-2 {
  border-radius: 21px;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 15px;
  top: 3813px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  aspect-ratio: 1;
}
.generative-1 {
  width: 146px;
  height: 130px;
  position: absolute;
  left: 257px;
  top: 3947px;
  object-fit: cover;
  aspect-ratio: 146/130;
}
.rectangle-7 {
  width: 1341px;
  height: 142px;
  position: absolute;
  left: -31px;
  top: 5259px;
  overflow: visible;
}
.group-86 {
  position: absolute;
  inset: 0;
}
.group-84 {
  width: 392px;
  height: 613px;
  position: static;
}
.rectangle-10 {
  background: #c2ccee;
  border-radius: 125px;
  width: 392px;
  height: 613px;
  position: absolute;
  left: 837px;
  top: 4341px;
}
.sbr-pepper-hero-full-robot-12 {
  width: 225.85px;
  height: 521.23px;
  position: absolute;
  left: 936.59px;
  top: 4386.97px;
  object-fit: cover;
  aspect-ratio: 225.85/521.23;
}
.group-89 {
  position: absolute;
  inset: 0;
}
.group-87 {
  width: 375px;
  height: 618px;
  position: static;
}
.rectangle-9 {
  background: #c2ccee;
  border-radius: 111px;
  width: 375px;
  height: 618px;
  position: absolute;
  left: 45px;
  top: 4341px;
}
.sbr-nao-hero-full-robot-1 {
  width: 308.51px;
  height: 521px;
  position: absolute;
  left: 82px;
  top: 4405px;
  object-fit: cover;
  aspect-ratio: 308.51/521;
}
.group-92 {
  position: absolute;
  inset: 0;
}
.group-90 {
  width: 634.81px;
  height: 445px;
  position: static;
}
.rectangle-11 {
  background: #edc3c3;
  border-radius: 229.5px;
  width: 450.74px;
  height: 445px;
  position: absolute;
  left: 406px;
  top: 4758px;
}
.spherobb-8-lede-removebg-preview-1 {
  width: 634.81px;
  height: 357.44px;
  position: absolute;
  left: 343px;
  top: 4775px;
  object-fit: cover;
  aspect-ratio: 634.81/357.44;
}
.personalisasi-pembelajaran {
  color: #202040;
  text-align: right;
  font-family: "WendyOne-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 709px;
  top: 3231px;
  width: 551px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
._51-c-6051029-fc-48-cd-3-c-3271-bd-26-c-32-bad-removebg-preview-1 {
  width: 598.27px;
  height: 639px;
  position: absolute;
  left: 42px;
  top: 1974px;
  aspect-ratio: 598.27/639;
}
.group-712 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-132 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-51 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-50 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-17 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-12 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-32 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-18 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.group-5 {
  width: 914.59px;
  height: 1026.83px;
  position: static;
}
.mobile-testing-52-1 {
  width: 705.51px;
  height: 705.51px;
  position: absolute;
  left: 328.08px;
  top: 320.64px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0.055deg) scale(1, 1);
  object-fit: cover;
  aspect-ratio: 1;
}
.frame {
  width: 67.06px;
  height: 64.3px;
  position: absolute;
  left: 384.86px;
  top: 315.39px;
  transform-origin: 0 0;
  transform: rotate(44.909deg) scale(-1.248, 0.666);
  overflow: hidden;
}
.frame2 {
  width: 80.62px;
  height: 40.32px;
  position: absolute;
  left: 199.62px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.vector {
  width: 7%;
  height: 1.05%;
  position: absolute;
  right: 22.21%;
  left: 70.79%;
  bottom: 88.7%;
  top: 10.24%;
  overflow: visible;
}
.group-52 {
  width: 322.5px;
  height: 377.21px;
  position: static;
}
.group-502 {
  width: 322.5px;
  height: 377.21px;
  position: static;
}
.group-172 {
  width: 322.5px;
  height: 377.21px;
  position: static;
}
.group-122 {
  width: 322.5px;
  height: 377.21px;
  position: static;
}
.group-322 {
  width: 322.5px;
  height: 377.21px;
  position: static;
}
.group-182 {
  width: 322.5px;
  height: 377.21px;
  position: static;
}
.frame3 {
  width: 67.06px;
  height: 64.3px;
  position: absolute;
  left: 733.86px;
  top: 330.39px;
  transform-origin: 0 0;
  transform: rotate(44.909deg) scale(-1.248, 0.666);
  overflow: hidden;
}
.rectangle-8 {
  background: #bc4545;
  width: 536px;
  height: 519px;
  position: absolute;
  left: 4500.08px;
  top: 4086.55px;
  transform-origin: 0 0;
  transform: rotate(61.75deg) scale(-1.204, 1.204);
}
.frame4 {
  width: 80.62px;
  height: 40.32px;
  position: absolute;
  left: 548.62px;
  top: 15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.techno-class-robotics-in-action {
  color: #202040;
  text-align: center;
  font-family: "WendyOne-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 159px;
  top: 175px;
  width: 948px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-78 {
  width: 305px;
  height: 305px;
  position: static;
}
.group-111 {
  width: 305px;
  height: 305px;
  position: static;
}
.bot-1 {
  width: 305px;
  height: 305px;
  position: absolute;
  left: 268px;
  top: 3004px;
  object-fit: cover;
  aspect-ratio: 1;
}
.group-110 {
  width: 139.04px;
  height: 8.97px;
  position: static;
}
.hello {
  color: #000000;
  text-align: center;
  font-family: "LuxuriousRoman-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 351px;
  top: 3046px;
  width: 139.04px;
  height: 8.97px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-93 {
  position: absolute;
  inset: 0;
}
.nao {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 194.95px;
  top: 4961px;
  width: 110.75px;
  height: 40.09px;
}
.aldebaran-robotics {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 69px;
  top: 5017.64px;
  width: 367px;
  height: 20.91px;
}
.france-2004 {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 131.98px;
  top: 5053.37px;
  width: 199.79px;
  height: 29.63px;
}
.group-95 {
  position: absolute;
  inset: 0;
}
.group-94 {
  width: 338px;
  height: 145px;
  position: static;
}
.pepper {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 966px;
  top: 4966px;
  width: 208px;
  height: 46px;
}
.aldebaran-robotics2 {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 892px;
  top: 5029px;
  width: 338px;
  height: 24px;
}
.japan-2014 {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 979px;
  top: 5077px;
}
.group-96 {
  position: absolute;
  inset: 0;
}
.sphero-bb-8 {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 492px;
  top: 5207px;
  width: 365px;
  height: 46px;
}
.sphero-inc {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 554px;
  top: 5259px;
  width: 207px;
  height: 24px;
}
.usa-2015 {
  color: #202040;
  text-align: left;
  font-family: "YoungSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 568px;
  top: 5296px;
}
